.idea/
.ia_history
anna/
anna_static/
anna_lang.iml
export_classes.info
log
log.txt
out/
projectFilesBackup/
.ihx_history
.DS_Store
_build
project/my_app/
runtime_log
anna-js.js
anna-js.js.map
dump/
project/app_config.json
